<{if $block.type eq 3}>
	<table class="outer">
		<thead>
		<tr>
			<th><{$block.lang_category}></th>
			<th><{$block.lang_title}></th>
			<th><{$block.lang_postname}></th>
			<th><{$block.lang_hits}></th>
			<th><{$block.lang_updated}></th>
		</tr>
		</thead>
		<tbody>
		<{foreach from=$block.download item=down}>
		<tr>
			<td>
				<a href="<{$block.mod_url}>/index.php?cid=<{$down.cid}>"><{$down.category}></a>
			</td>
			<td>
				<a href="<{$block.mod_url}>/index.php?page=singlefile&amp;cid=<{$down.cid}>&amp;lid=<{$down.lid}>"><{$down.title}></a>
			</td>
			<td>
				<{$down.postname}>
			</td>
			<td>
				<{$down.hits}>
			</td>
			<td>
				<{$down.updated}>
			</td>
		</tr>
		<{/foreach}>
		</tbody>
	</table>
<{elseif $block.type eq 2}>
	<ul class="d3downloads__block_ul">
		<{foreach  from=$block.download item=down}>
			<li>
				<a href="<{$block.mod_url}>/index.php?page=singlefile&amp;cid=<{$down.cid}>&amp;lid=<{$down.lid}>"><{$down.title}></a>
				<span class="badge"><{$down.hits}></span> <{$down.postname}> <span class="badge"><{$down.updated}></span>
			</li>
		<{/foreach}>
	</ul>
<{else}>
	<ul class="d3downloads__block_ul">
		<{foreach from=$block.download item=down}>
			<li>
				<span class="badge"><{$down.updated}></span>
				<a href="<{$block.mod_url}>/index.php?page=singlefile&amp;cid=<{$down.cid}>&amp;lid=<{$down.lid}>"><{$down.title}></a>

			</li>
		<{/foreach}>
	</ul>
<{/if}>
