<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $block.category}>
<table class="outer">
	<tr>
	<{foreach from=$block.category.parent item="parent" key="count"}>
		<td>
			<div style="border:var(--border);padding:2px">
				<div style="padding:10px">
					<div>
						<img class="svg" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="folder">
						&nbsp;<a href="<{$block.mod_url}>/<{$parent.url}>"><{$parent.title}></a>
						&nbsp;<span style="font-size:smaller;">( <{$parent.files}> )</span>
					</div>
					<{if $block.intree}>
						<{foreach from=$parent.child item="child"}>
							<div>
								&nbsp;<a href="<{$block.mod_url}>/<{$child.url}>"><{$child.title}></a>
								&nbsp;<span style="font-size:smaller;">( <{$child.files}> )</span>
							</div>
						<{/foreach}>
						<div style="font-size:smaller;">
							( <{$block.lang_total}><{$parent.total_files}> )
						</div>
					<{/if}>
				</div>
			</div>
		</td>
		<{if ($count+1) is div by $block.cols}>
				</tr>
			<tr>
		<{/if}>
		  <{/foreach}>
		</tr>
	</table>
<{/if}>
