<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $mod_config.show_breadcrumbs}>
	<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>
<{/if}>


<div layout="row center-justify p-2 my-4 sm-column" class="activity">

	<div self="px-2">
		<form name="cid_select" action="<{$mod_url}>/index.php?page=<{$page}>" method="get">
			<select name="cid" onchange="submit();">
				<option value=""><{$lang_directcatsel}></option>
				<{html_options options=$category}><br>
			</select> &nbsp; &nbsp;
			<{$download_total_num}>
		</form>
	</div>
</div>

<hr>

<{* ----- Start ranking loop ----- *}>
<{foreach item="ranking" from=$rankings}>

	<h3><{$ranking.title}> (<{$lang_sortby}>)</h3>
	<table class="outer">
		<thead>
		<tr style="text-align:center;">
			<td width="5%">
				<{$lang_rank}>
			</td>
			<td width="40%">
				<{$lang_title}>
			</td>
			<td width="28%">
				<{$lang_category}>
			</td>
			<td width="10%">
				<{$lang_hits}>
			</td>
			<td width="9%">
				<{$lang_rating}>
			</td>
			<td width="8%">
				<{$lang_vote}>
			</td>
		</tr>
		</thead>
		<tbody>
		<{foreach item="file" from=$ranking.file}>
			<tr>
				<td style="text-align:center;">
					<{$file.rank}>
				</td>
				<td>
					<a href="<{$mod_url}>/index.php?page=singlefile&amp;cid=<{$file.cid}>&amp;lid=<{$file.id}>"><{$file.title}></a>
				</td>
				<td>
					<{foreach item="category" key="count" from=$file.category name="category"}>
						<{$category}>
						<{if ( $count + 1 ) < $smarty.foreach.category.total}>
							<span class="fg2">&raquo;&raquo;</span>
						<{/if}>
					<{/foreach}>
				</td>
				<td>
					<{$file.hits}>
				</td>
				<td>
					<{$file.rating}>
				</td>
				<td  style="text-align:center;">
					<{$file.votes}>
				</td>
			</tr>
		<{/foreach}>
		</tbody>
	</table>

	<hr>
<{/foreach}>
<{* ----- End ranking loop ----- *}>
